// ---------------------------------  
// Faça um programa em VM que coloque os últimos 3 elementos da pilha em ordem crescente.
//
// ---------------------------------

function Main.main 0



// nao deve tirar isso!
label while2
    goto while2
